@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
  box-sizing: border-box;
}
svg {
  background-color: cadetblue;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 72px 1fr;

  grid-template-areas:
    'sidebar head head head'
    'sidebar main main main'
    'sidebar main main main'
    'sidebar main main main';
  height: 100vh;
}

.grid-sidebar {
  grid-area: sidebar;
}
.header {
  grid-area: head;
  box-shadow: 0 1px 0 0 #eaedf3;
}
.content {
  grid-area: main;
  background-color: bisque;
}

@media screen and (max-width: 375px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 72px 1fr;
    grid-template-areas: 'head' 'main';
  }
}
